<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <!--CONECTAR A LA BASE DE DATOS-->
  <connectionStrings>
    <add name="conectar" connectionString="Server=DESKTOP-H01IA0U;Integrated Security=yes; Database=Mantenimiento_Productos"/>
  </connectionStrings>
</configuration>